page-choosebrand {
	.scroll-content{
		overflow-y:visible !important;
	}

	.device{
		font-size: 1em;
	}

	.brands-col{
		background-color: #fff;
    	border-radius: 10px;

    	img{
    		height:10em;
    	}
	}

	.other{
		border: 5px solid black;
		border-radius: 8px;
		padding: 0.5em 1.5em 0.5em 1.5em;
	}


}
