page-confirmation {
	h2{
		font-size: 1em;
	}

	.confirm-total{
		font-size: 1.2em;
		font-weight: bold;
	}

	.login-button{
   		height: 5em !important;
  }

  .confirmation-content{
  background-color:white;
  margin-top:8em !important;
  }
}
