<!--
  Generated template for the CustomerdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content no-padding padding-bottom class="lightest" no-margin>
   
   <ion-grid col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 no-padding margin-top padding-bottom center class="details-content">
     <!--  <ion-row>
        <ion-col class="logo">
          <img src="assets/imgs/logo.jpg">
        
        </ion-col>
      </ion-row> -->
      <div *ngIf="this.action =='Create Customer'">
      <ion-row>
        <ion-col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2>
          <button ion-button (click)="newCustomer()">Create Customer</button>
        </ion-col>
        <ion-col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2>
          <button ion-button color="gray" (click)="selectCustomer()">Select Customer</button>
        </ion-col>
      </ion-row>
      <ion-row margin-horizontal class="box-shadow">

        <ion-col>
        <div text-center>
            <p class="question">Please Enter the Details Below.</p>
           
          </div>
          
          
          <!-- <ion-item class="form-input">
             <ion-label color="primary"> <ion-icon name="ios-person-outline"></ion-icon> </ion-label>
            <ion-input type="text" placeholder="Email Address" formControlName="username" class="form-controll" required></ion-input>
          </ion-item> -->
          <div [formGroup]="customerDetails">
          <ion-item no-padding >
            <ion-label color="dark" stacked>Customer First Name </ion-label>
            <ion-input type="text" formControlName="firstname" placeholder="First Name"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>Customer Last Name </ion-label>
            <ion-input type="text" formControlName="lastname" placeholder="Last Name"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>Birthdate (required if repair ticket is lost)</ion-label>
            <ion-datetime formControlName="birthdate" displayFormat="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
          </ion-item>
            <ion-item no-padding>
            <ion-label color="dark" stacked>E-mail</ion-label>
            <ion-input type="email" formControlName="email" placeholder="user@mail.com"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>Phone Number</ion-label>
            <ion-input type="number" formControlName="phone" placeholder="123456789"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>Alternative Phone Number</ion-label>
            <ion-input type="number" formControlName="phone2" placeholder="123456789"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>PIN</ion-label>
            <ion-input type="number" formControlName="pin" placeholder="1234"></ion-input>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark" stacked>Location</ion-label>
            <ion-select formControlName="location">
              <ion-option *ngFor="let location of locations" [value]="location.id">{{location.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-padding >
            <ion-label color="dark">SMS Service Enabled</ion-label>
            <ion-checkbox formControlName="smsService" ></ion-checkbox>
          </ion-item>
          <ion-item no-padding>
              <ion-label color="dark">Consent to Store Data</ion-label>
              <ion-checkbox formControlName="consentStore" ></ion-checkbox>
          </ion-item>
          <ion-item padding-left>
              <ion-label color="dark" stacked>Source (Discarded if Consent to Store Data is not checked)</ion-label>
              <ion-input formControlName="consentStoreSource" placeholder="verbal, external email, etc."></ion-input>
          </ion-item>     
          <ion-item no-padding >
            <ion-label color="dark">Consent to Email for Business Practices</ion-label>
            <ion-checkbox formControlName="consentBusiness" ></ion-checkbox>
          </ion-item>
          <ion-item padding-left>
              <ion-label color="dark" stacked>Source (Discarded if Consent to Email for Business Practices is not checked)</ion-label>
              <ion-input formControlName="consentBusinessSource" placeholder="verbal, external email, etc."></ion-input>
          </ion-item> 
          <ion-item no-padding >
            <ion-label color="dark">Consent to Email for Marketing</ion-label>
            <ion-checkbox formControlName="consentMarketing" ></ion-checkbox>
          </ion-item>
          <ion-item padding-left>
              <ion-label color="dark" stacked>Source (Discarded if Consent to Email for Marketing is not checked)</ion-label>
              <ion-input formControlName="consentMarketingSource" placeholder="verbal, external email, etc."></ion-input>
          </ion-item> 
          <ion-item no-padding >
            <ion-label color="dark">Send Portal Invitation</ion-label>
            <ion-checkbox formControlName="portalInvite" ></ion-checkbox>
          </ion-item>
          <ion-item padding-left>
              <ion-label color="dark" stacked>Source (Discarded if Send Portal Invitation is not checked)</ion-label>
              <ion-input formControlName="portalInviteSource" placeholder="verbal, external email, etc."></ion-input>
          </ion-item> 
         
          <!-- <ion-item no-padding >
            <ion-label color="dark" stacked>PIN</ion-label>
            <ion-input type="number" formControlName="pin" placeholder="1234"></ion-input>
          </ion-item> -->
         </div>
          <ion-row class="login-row">
            <ion-col text-center>
              <button round [disabled]="!customerDetails.valid" (click)="prepareData(customerDetails.value)" ion-button full class="login-button" 
            type="submit">Book</button>
  <!-- [disabled]="!login_form.valid" --> 
            </ion-col>
          </ion-row>
         
        </ion-col>
      </ion-row></div>

       <div *ngIf="action==='Select Customer'">
         <ion-row>
        <ion-col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2>
          <button ion-button color="gray" (click)="newCustomer()">Create Customer</button>
        </ion-col>
        <ion-col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2>
          <button ion-button  (click)="selectCustomer()">Select Customer</button>
        </ion-col>
      </ion-row>
      <ion-row margin-horizontal class="box-shadow">

      <table col-12 class="table table-hover">
                    <thead>
                      <tr>
                        <th col-6>Customer Name</th>
                        <th col-5>Email</th>
                        <!-- <th col-3>Phone</th>
                        <th col-3>Alt. Phone</th>
                        <th col-3>Birthdate</th> -->
                        <th col-1> </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let customer of customers ; let i = index"> -->
                        <tr  text-center>
                        
                        <td>Sample</td>
                        <td>Sample</td>
                        <td></td>
                        
                       
              
                      
                      </tr>

                      <tr>
                        
                        <td>Sample</td>
                        <td>Sample</td>
                        <td></td>
                       
              
                      
                      </tr>

                       <tr>
                        
                        <td>Sample</td>
                        <td>Sample</td>
                        <td></td>
                       
              
                      
                      </tr>
                      
                    </tbody>
                      <tfoot>
                      <tr>
                         
                      </tr>
                      </tfoot>
                  </table>
                </ion-row>

       </div>

      
      

    
    </ion-grid>

   <!--  <ion-item>
       <ion-label color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
    </ion-item>

    <ion-item margin-top>
      <ion-label color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>

    <p class="error-message" >{{error_message}}</p>
    
    <button (click)="login(login_form.value)" ion-button full class="login-button" [disabled]="!login_form.valid" type="submit">Login</button>
 -->
  
</ion-content>
<copyright></copyright>

