
<!--
  Generated template for the ChoosemodelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content class="lightest">
<!-- 
	<h4 text-center margin class="device">My Device: {{device}}</h4> -->
<div id='mobile'>
	<ion-grid no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-xl-1 col-xl-10 padding-bottom margin-top center class="page-content">
    <ion-row>
       <ion-col id="main" col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9>
          <navigation></navigation>
          <div text-center>
            <p class="question">{{brand}} Repair</p>
            <p class="tip">What model do you have? Pick one option below</p>
          </div>
          <ion-row>
            <ion-col text-center  *ngFor = "let model of repair.models" col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-3>
              <div (click) ="selectModel(model.model,model.modelNum)" class="brands-col" padding>
              <img src="{{'assets/imgs/'+brand+'/'+model.model.replace(' ','').replace( brand , '').toLowerCase()+'.jpg'}}">
              <p>{{model.model}}</p>
              <p>{{model.modelNum}}</p>
              <!-- <button  ion-button full round (click) ="selectBrand(brand.brand)" > {{brand.brand}} </button> -->
              </div>
            </ion-col>
            <!-- <ion-col text-center   col-6>
              <button  ion-button full round (click)="presentPopover($event)">Other</button>
            </ion-col> -->
          </ion-row>
      </ion-col>
      <ion-col col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3>
      	<ion-row>
      		<ion-col>
        	<checkout></checkout>
        	</ion-col>
        </ion-row>
        <ion-row>
        	<ion-col>
        	<div class="image-container">
        		<p>How to view your model number:</p>
        		<div class="image-placeholder">
            		<img *ngIf="this.booking.userData.brand == 'iPhone'" src="assets/imgs/iosmodel.png">
            		<img *ngIf="this.booking.userData.brand == 'iPad'" src="assets/imgs/iosmodel.png">
            		<img *ngIf="this.booking.userData.brand != 'iPhone'&&this.booking.userData.brand != 'iPad'" src="assets/imgs/model.png">
				</div>
        	</div>
        </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
	</ion-grid>
</div>

	<div id='laptop'>
	<ion-grid no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-xl-1 col-xl-10 padding-bottom margin-top center class="page-content">
	<ion-row>
      <ion-col id="main" col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9>
          <navigation col-10 no-padding center></navigation>
          <div text-center>
            <p class="question">{{brand}} Laptop Repair</p>
            <p class="tip">Please enter your laptop's model number below</p>
          </div>
          <ion-row>
            <ion-col col-xs-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4>
       		<ion-input placeholder="Device Model Number" [(ngModel)]="model" f></ion-input>
      		</ion-col>
            <!-- <ion-col text-center   col-6>
              <button  ion-button full round (click)="presentPopover($event)">Other</button>
            </ion-col> -->
          </ion-row>
           <ion-row>
      <ion-col col-xs-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-lg-3 col-lg-6  offset-lg-3 col-xl-6>
          <button col-xs-6 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 class="button" ion-button full (click) ="goToRepair()">Continue </button>
      </ion-col>
  </ion-row>
      </ion-col>
      <ion-col col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3>
        <checkout class="checkout"></checkout>
      </ion-col>

    </ion-row>	

    </ion-grid>
</div>



</ion-content>

<!-- <ion-footer>
	<ion-row>
    
    		<ion-col text-center padding col-12>
				<button   ion-button full round >CONTINUE</button>
			</ion-col>

	</ion-row>
</ion-footer>
 -->