page-terms {
	 .login-row{
    margin: 80px 0;
    button{
      width: 75%;
    }
  }
  // h4{
  // 	text-decoration : underline;
  // }

  .checkbox{
  	ion-label{
  		display : inline;
  		color : #747474;
  	}
  	ion-checkbox{
  		top : 3px;
  	}
  }

/*  ion-title p {
      font-size: 46px;
      font-weight: 600;
      text-align : left;
      padding: 0px 30px 1px;
  }*/

  .toolbar {

    .row[start]{
      padding: 0 13vw;
   
    }

     img{
      height: 50px;
    }

  }

  .row.box-shadow{
    margin: 3vw 8vw;
    
        .col[padding]{
          padding: 5vw 2vw;
          background-color: #fff;
        }
  }

  ion-item{
    margin-top:16px;
  }

  h4{
    margin-top:40px;
    margin-bottom:20px;
  }

  .center-logo{
    height:3em;
      margin: auto;
      display: block;
  }

  .register-content{
          margin: auto;
          max-width: 1040px;
  background-color:white;
  margin-top:5% !important;
}
.parGContent {
  text-indent: 15px; 
  margin-bottom: 10px;
}
.links:hover {
  cursor: pointer;
}
.heads { font-weight: bold; }
.lists li {
  list-style-type: none;

}
.listsNum li {
  list-style-type: none;
}
.noIndent {
  margin-left: 0vw !important;
}
.rev { text-align: right; }
@media (max-width: 1440px) {
   .toolbar {

    .row[start]{
      padding: 0 23vw;
   
    }
  }
}
@media (max-width: 1024px) {
   .toolbar {

    .row[start]{
      padding: 0 13vw;
   
    }
  }
}
@media (max-width: 850px) {
   .toolbar {
    .row[start]{
      padding: 0 7vw;
   
    }
  }
}
@media (max-width: 1440px) {
  .loginNavbar {
    display: none !important;
  }
}
@media (max-width: 751px) {
  .hidden-md-up {
    display: block !important;
  }
  .loginNavbar {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .loginNavbar {
    display: none !important;
  }
  
  .hidden-sm-down {
    display: block !important;
  }
  .hidden-md-up {
    display: block !important;
  }
  .separator {
      height: 5px !important;
  }
}
@media (min-width: 201px) and (max-width: 750px){
  .hidden-md-up {
    display: block !important;
  }
  .loginNavbar {
    display: none !important;
  }
}
@media (max-width: 500px){
  .register-content {
    margin-top: 25vw !important;
  }
  ion-header {
  .toolbar {
    position: absolute;
    min-height: 100px;
    padding: 0 5%;

    button[color="light"]{
      border:none;
    }
      img{
        height : 60px;
      }
      .toolbar-background {
        background: transparent;
      }
     
    }
  }
  .loginNavbar {
    display: block !important;
  }
  .hidden-md-up {
    display: none !important;
  }}

.loginNavbar {
  ion-navbar {
   background-color: map-get($colors , dark ) !important;
   button {
     color: white;
   }
   ion-title {
     img {
       
     }
   }
  }
}

.parContent {
    text-align: justify;
    font-family: 'Segoe UI';
}
.separator {
    background: black;
    height: .8vw;
    width: 30% !important;
    margin: 0 auto;
    border-radius: 20px;
}
.buttonShow {
  margin-top: 10px;
  text-align: center;
}
.butonVoer {
  text-align: center;
}
}

