page-otherrepair {
	ion-input {
		border-bottom: 2px solid lightblue;
  		}
  	  @media (max-width: 768px) {
        .question {
            padding: 15px !important;
        }
    }

  	.button{
  		
  		border-radius:20px;
  		
  	}
}
