header {
	.back{
    color:#488aff;
    margin-left: 2px;
    font-size: 1.2em;
	}
  .backBtn {
    margin-left: 20px
  }
  .back-button{
    margin-left:5vw;
  }
  .arrow-back {
    margin-left: 7vw;
    font-size: 1.2em !important;
  }
	.tool{
    margin-left:0vw;
    margin-right: -8vw !important;
	}
  .mobileArrow {
    font-size: 1em !important;
    font-weight: 900;
    margin-bottom: .14vh;
  }
  .rem {
    margin-right: 0vw !important;
  }
  // .end {
  //   margin-right: -5vw;
  // }
	@media (max-width: 850px) {
  .hidden-md-down {
    display: none !important;
  }
  .arrow-back {
    font-size: 1.2em !important;
  }
}

@media (min-width: 851px) {
  .hidden-lg-up {
    display: none !important;
  }
.logo {
    margin-left: 35vw !important;
  }
}
@media (min-width: 1200px) {
.logo {
    margin-left: 37vw !important;
  }
}

 .center-logo{
  height:3em;
  margin: auto;
  display: block;
  }

  .left{
    margin-left:-2vw !important;
  }

}
