page-passcode {
  .passcode{
      margin-top: 60px;
  }  
  .passcode-content{
    margin: 10vh 0;
      h1{
        font-weight: 900;
        font-size : 3.3rem;
      }
  }

  ion-grid.grid.passcode{
    -webkit-box-shadow: -1px 1px 5px 1px rgba(5,5,5,0.14);
    -moz-box-shadow: -1px 1px 5px 1px rgba(5,5,5,0.14);
    box-shadow: -1px 0px 5px 1px rgba(5,5,5,0.14);
  }
  .text-input-ios{
    font-size: 50px;

    letter-spacing: 59px;
  }
   p.p-grey{
    color : #b4b4b4;

  }

  input[type="tel"]{
    font-size: 5em;
    width: 45px;
    margin: 0.1em;
    border: none;
    border-bottom: solid 1px #b4b4b4;
  }

  .transparent{
    background-color:rgba(157, 192, 224,0.3) !important;
  }

  .tool{
    margin-left:-1vw;
  }

  .back{
    color:#488aff;
    margin-left: 5px;
	}
  .backBtn {
    margin-left: 20px
  }
  .back-button{
    margin-left:5vw;
  }
  .arrow-back {
    margin-left: 7vw;
  }
	.tool{
		margin-left:0vw;
	}

	@media (max-width: 850px) {
  .hidden-md-down {
    display: none !important;
  }
}
  	@media (max-width: 768px) {
  input[type="tel"] {
    text-align: center;
    font-size: 2em;
  }
}

@media (min-width: 851px) {
  .hidden-lg-up {
    display: none !important;
  }
.logo {
    margin-left: 35vw !important;
  }
}
@media (min-width: 1200px) {
.logo {
    margin-left: 37vw !important;
  }
}

 .center-logo{
  height:3em;
  margin: auto;
  display: block;
  }

  .left{
    margin-left:-2vw !important;
  }

}
