<!--
  Generated template for the ColorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content class="lightest">


	<!-- <h4 text-center margin class="device">My Device: {{device}}</h4> -->
	<ion-grid no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-xl-1 col-xl-10 padding-bottom margin-top center class="page-content">
    <ion-row>
      <ion-col id="main" col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9>
          <div text-center>
            <p class="question">Test-In Options</p>
            <p class="tip">Please select what repair/s you have tested on the device.</p>
          </div>
          <ion-row padding-top>
              <ion-col offset-1 col-10>
      		 		<p>Additional Details</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 offset-sm-1 col-sm-10 offset-md-1 col-md-10 col-lg-8 col-xl-10>
      		 		<ion-textarea class="textarea" autosize placeholder="Please keep it as short as possible."></ion-textarea>
  				</ion-col>
          </ion-row>
          <ion-col *ngIf="this.device == 'Phone' || this.device == 'Tablet'">
          <div [formGroup]="testMobileForm">
          <ion-row radio-group padding-top formControlName="SD">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>SD Card</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
  			
          </ion-row>
           <ion-row radio-group formControlName="frontCam">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Front Camera</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="rearCam">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Rear Camera</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="home">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Home Button</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="volume">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>V/B Up/Down</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="vibrate">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Vibrate</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="lock">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Lock Button</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="lightSensor">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Light Prox Sensor</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="earpiece">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Earpiece</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="speaker">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Loud Speaker</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="microphone">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Microphone</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
          <ion-row radio-group formControlName="headphone">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Headphone Jack</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
          <ion-row radio-group formControlName="moisture">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Moisture Tabs</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="wifi">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Wifi</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="barred">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Barred</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
        </div>
      </ion-col>
      	<ion-col *ngIf="this.booking.userData.device != 'Phone' && this.booking.userData.device != 'Tablet'">
          <div [formGroup]="testNonMobileForm">
          <ion-row radio-group padding-top formControlName="power">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Power On</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="display">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Display</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="systemBoot">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Boots to System</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="audio">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Audio</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="keyboard">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Keyboard</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="touchpad">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Touchpad</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="wifi">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>WiFi</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="port">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>All Ports</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="webCam">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Web Camera</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="battery">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>Battery Test</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           <ion-row radio-group formControlName="HDD">
              <ion-col offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-2 offset-xl-2 col-xl-2>
      		 		<p>HDD Test</p>
      		 	</ion-col>
      		 	<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
      		 		<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>Yes</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 class="my-checkbox">
  					<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-4 col-xl-4></ion-radio>
    				<p float-right>No</p>
  				</ion-col>
  				<ion-col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 class="my-checkbox">
    				<ion-radio mode="md" offset-xs-2 col-xs-1 offset-sm-2 col-sm-1 offset-md-2 col-md-1 col-lg-3 col-xl-3></ion-radio>
    				<p float-right>Can't Test</p>
  				</ion-col>
          </ion-row>
           </div>
      </ion-col>

           <ion-row *ngIf="this.device == 'Phone' || this.device == 'Tablet'">
               <ion-col text-center align-self-center col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4 offset-xl-4 col-xl-4>
          			<button ion-button full (click) ="Proceed()" >Proceed</button>
      			</ion-col>
          </ion-row>

          <ion-row *ngIf="this.booking.userData.device != 'Phone' && this.booking.userData.device != 'Tablet'">
               <ion-col text-center align-self-center col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4 offset-xl-4 col-xl-4>
                <button ion-button full (click) ="Proceed()" >Proceed</button>
            </ion-col>
          </ion-row>
          
   	</ion-col>
      <ion-col col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3>
      <checkout></checkout>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<copyright></copyright>
